@model List<BankAccount>
@{
    ViewBag.Title = "Accounts";
    Layout = "_Layout";
}

<div class="parallax-section-accounts">
    <h2 class="display-4">Banka Bilgilerimiz</h2>
</div>

<div class="container my-5 section-accounts">
    <div class="row row-cols-1 row-cols-md-2 g-4">

        @if (Model.Count > 0)
        {
            foreach (var item in Model)
            {
                <div class="col">
                    <div class="banka-kutusu">
                        <div class="banka-logo">
                            <img src="~/Files/BankAccount/@item.Image" alt="Vakıfbank" style="width: 100px;">
                        </div>
                        <div class="banka-bilgileri">
                            <h5>@item.Title</h5>
                            <p>@item.SubTitle</p>
                            <p>
                                IBAN: <span class="iban-numara" id="iban-vakifbank">@item.IBAN</span>
                                <i class="bi bi-clipboard copy-icon" data-target="iban-vakifbank" title="Kopyala"></i>
                            </p>
                            <p>Şube Kodu: <span class="sube-numara">@item.BranchCode</span></p>
                            <p>Hesap Numarası: <span class="hesap-numara">@item.AccountNumber</span></p>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>
